html {
  box-sizing: border-box;
  background-color: #FFFCF5;
  min-height: 100vh;
  display: flex;
  font-family: sans-serif;
}

body { width:100%; }

*, *:before, *:after {
  box-sizing: inherit;
}

h2 {
  text-align: left;
  margin: 0;
  padding: 1px 0px 7px 5px;
  font-weight: 200;
}

h2:focus {
  outline: none;
  background-color: beige;
}

/*** KEY ELEMENTS ***/ 

.add-list {
  border-radius: 20px;
  padding: 10px;
  left:15px;
  top: 15px;
  display: block;
}

.list-container { 
  width: 100%;
  display: flex;
} 

.list {
  position: relative;
  padding: 6px;
  width: 230px;
  background: #E5E5E5;
  margin: 5px;
  border-radius: 3px;
  height: fit-content;
}

.list-delete {
  position: absolute;
  top: 0;
  right: 0;
}

.close {
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.title {
  color: rgba(0, 0, 0, 0.62);
  font-size: 17px;
}
.title:focus, .title:hover  {
  outline: none;
  background-color: beige;
  
}
  
.item {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  font-size: 12px;
  padding: 10px;
  font-weight: 100;
  display: flex;
  position: relative;
  text-align: left;
  background-color: #FFFFFF;
}
.item:focus { outline: none;}
.item:hover .item-delete, .item:hover .item-check { display:inline-block; }

.item-delete, .item-check {
  width: 10px;
  position: absolute;
  right: 5px;
  display: none;
}
.item-check { right: 25px; }
.item.checked { text-decoration-line: line-through; }

.item-text { 
  width: 100%; 
  height: 25px;
  background-color: antiquewhite;
  font-size: 12px;
  color: #575757;
}

[contentEditable=true]:empty:before{
  content:attr(data-text)
}

.add-item {
  background: none;

  border: none;
  padding: 10px 5px 5px;
}
.add-item::placeholder { color: #FFFEF9;}
.add-item:focus { outline: none; }






